body {
    background-color: rgba(128, 128, 128, 0.315);
}
.container {
    display: flex;
    justify-content: center;
}

img {
    width: 35px;
}

tfoot tr td {
    padding-top: 100px;
}

table {
    padding-top: 30px;
}

input {
    margin-right: 17px;
}

button {
    background-color: green;
    padding-top: 3px;
    padding-bottom: 3px;
    color: white;
    font-weight: bold;
}