*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgba(128, 128, 128, 0.315);
}
.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

header {
    display: flex;
    padding-bottom: 25px;
}

img {
    width: 35px;
}

tfoot tr td {
    padding-top: 100px;
}

table {
    padding-top: 30px;
}

input {
    margin-right: 17px;
    padding-top: 5px;
    padding-bottom: 5px;
}

button {
    background-color: green;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 4px;
    padding-right: 4px;
    color: white;
    font-weight: bold;
}